<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /social/gadgets/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /social/gadgets/index.php [L]
#	RewriteRule (.*) index.php [L]
</IfModule>
